*{
    margin: 0;
    padding: 0;
   
}

body{
    background-image: url("./pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
}

form{
    text-align: center;
}
.txt1{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 20%;
    height: 60%px;
 padding: 20px 10px;
 text-align: left;
 margin: auto;
 border: 5px solid black;
 box-shadow: blue;
 border-radius: 40px;
 opacity: 0.7;
 font-size: large;
 font-weight: bolder;
 
}

.txt2{
    position: absolute;
    top: 15%;
    left: 60%;
    width: 20%;
    height: 60%px;
 padding: 20px 10px;
 text-align: left;
 margin: auto;
 border: 5px solid black;
 box-shadow: blue;
 border-radius: 40px;
 opacity: 0.7;
 font-size: large;
 font-weight: bolder;
 
}



ul{
float: right ;
list-style-type: none;
margin-top: 30px;

}
ul li{
    display: inline-block;

}
ul li a{
    
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.8s ease;
    background-color: black;
    border-radius: 20px;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

.button{
    text-align: center;
}
.button1{
    position: absolute;
    top: 74%;
    width: 100px;
    height: 60px;
    left: 47.25%;
    border-radius: 20px;
    border-color: black;
    background-color: lightblue;
    transition: 0.6 ease;
}

.button1:hover, .button2:hover{
    background-color: whitesmoke;
}

.box{
    position: absolute;
    top: 65%;
    left: 31%;
    transform: translate(-50%, -50%);
}

.box2{
    position: absolute;
    top: 65%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.box select{
  background: whitesmoke;
  color: black;
  padding: 10px;
  width: 200px;
  height: 60px;
  font-size: large;
  border-radius: 10px;


}

.box2 select{
    background: whitesmoke;
    color: black;
    padding: 10px;
    width: 200px;
    height: 60px;
    font-size: large;
    border-radius: 10px;
  
  
  }
